@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  background: #141414;
}

header {
  padding-top: 20px;
  background: #032541;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 50px;
}

h2 {
  padding-left: 50px;
}

.card {
  width: 250px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  background: #223343;
  padding: 20px;
  text-align: center;
}

.card:hover .card-body {
  background: white;
  color: black;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.result {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px;
}

.result:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #010204;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
  color: #d3d3d3;
}
.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}

.popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.popup .content .rating {
  margin-left: 50px;
}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

#popular {
  padding-top: 20px;
}
